
.sideBar{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .imgCon{
    flex: 1;
    position: relative;

    .img{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      width: 230px;
      bottom: 100px;
    }
  }
}

.title{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 20px;

  .titleText{
    height: 40px;
    margin-left: 5px;
    margin-top: 18px;

    &:hover{
      cursor: pointer;
    }
  }

  .logo{
    height: 30px;
    width: 30px;

    &:hover{
      cursor: pointer;
    }
  }
}

