.rightInfo {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .top{
    height: 250px;
  }

  .bottomDesc {
    width: 250px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono Regular",sans-serif;
  }
}
