.sider{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  .data{
    flex: 1;
    border-radius: 10px;
    background: var(--greyLight-1);
    box-shadow: var(--dark-shadow);
    border: 1px white solid;
    margin-bottom: 10px;
    padding: 15px;
    overflow: hidden auto;

    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title{
        text-align: center;
        font-weight: 500;
        margin-bottom: 8px;
        font-size: 17px;
        color: #545274;
      }
    }

    .list{
      //height: 100%;
      padding-bottom: 10px;
    }

  }

  .btnGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .status{
    height: 150px;
  }
}
