.sider{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  .form{
    flex: 1;
    border-radius: 10px;
    background: var(--greyLight-1);
    box-shadow: 0 0 10px rgba(100, 131, 177, 0.2);
    border: 1px white solid;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden auto;

    .title{
      text-align: center;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .card {
    height: 200px;
    background: var(--greyLight-1);
    box-shadow: 0 0 10px rgba(100, 131, 177, 0.2);
    border: 1px white solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .buttonOuter {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow:6px 6px 8px var(--greyLight-2),
      -6px -6px 8px var(--white);
      background: var(--greyLight-1);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;
      color: #4D6EF4;
      font-weight: 600;


    }
  }
}
