
.apiCard{
  flex: none;
  flex-shrink: 0;
  width: 200px;
  margin: 0 10px;
  height: 130px;
  background: var(--card-bg--);
  border-radius: 15px;
  -webkit-overflow-scrolling: touch;
  padding: 5px;

  &:hover{
    cursor: pointer;
  }
}
