
.apiCard{
  flex: none;
  flex-shrink: 0;
  width: 200px;
  margin: 5px 10px;
  height: 140px;
  background: var(--greyLight-1); //linear-gradient(135deg, #EAE6FE, #E2DCFF)
  border: 1px white solid;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #CAD7EC;
  -webkit-overflow-scrolling: touch;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;

    .point {
      margin-left: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba(49,207,245,0.3);
      display: flex;
      align-items: center;
      justify-content: center;

      .inner {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #1B9EFD;
        margin-top: -1px;
      }
    }

    .time {
      flex: 1;
      margin-left: 10px;
      color: #9997BB;
    }

    .option {
      width: 50px;
      margin-top: 2px;
    }
  }

  .info {
    flex: 1;
    display: flex;
    width: 100%;
    margin: 10px 15px 0 15px;
    justify-content: end;

    .count {
      width: 100px;
    }

    .intro {
      flex: 1;
      display: flex;
      margin-left: 15px;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FA6C37;
      }

      .port {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #37C5FA;
      }
    }
  }
}
