
.msgList{
  width: 100%;
  font-family: "JetBrains Mono Regular", sans-serif;
  height: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;


  .conLeft{
    display: flex;
    align-items: center;
    margin: 7px 0;

    .iconLeft{
      margin-right: 6px;
    }

    .descLeft{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      .descTextLeft{
        font-size: 14px;
        color: #A5673F;
      }
    }
  }

  .conRight{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 7px 0;

    .iconRight{
      margin-left: 6px;
    }

    .descRight{
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;

      .descTextRight{
        font-size: 14px;
        color: #228CEE;
      }
    }
  }

  .systemInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .info{
      padding: 3px 10px;
      text-align: center;
      background-color: #DAE0E7;//#3FDB0C // #F987A3
      border-radius: 5px;

      .systemInfoText{
        font-size: 14px;
        color: #2C2E3A;
      }
      .systemInfoTime{
        font-size: 14px;
        color: #F9FAFB;
      }
    }
  }
}

.descText{
  font-size: 14px;
  color: #2185D0;
}

.descTime{
  font-size: 10px;
  color: #A3A4A3;
}

.msgEnd{

}

