
.msgList{
  width: 100%;
  font-family: "JetBrains Mono Regular", sans-serif;
  height: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  & div{
    transition: all 0.3s ease-in-out;
  }


  .conLeft{
    display: flex;
    align-items: center;
    margin: 7px 0;

    .iconLeft{
      margin-right: 6px;
    }

    .descLeft{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      .descTextLeft{
        font-size: 14px;
        color: #F5904C;
      }
    }
  }

  .conRight{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 7px 0;

    .iconRight{
      margin-left: 6px;
    }

    .descRight{
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;

      .descTextRight{
        font-size: 14px;
        color: #AEDBFA;
      }
    }
  }

  .systemInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;

    .info{
      padding: 4px 10px;
      text-align: center;
      background-color: transparent;//#3FDB0C // #F987A3
      border-radius: 5px;
      border: 1px solid transparent;

      .systemInfoText{
        font-size: 15px;
        font-weight: bolder;
        //color: #2C2E3A;
      }
      .systemInfoTime{
        font-size: 14px;
        color: var(--text-color);
      }
    }
  }
}

.descText{
  font-size: 14px;
  color: #2185D0;
}

.descTime{
  font-size: 10px;
  color: #7DC3F3;
}

.msgEnd{

}

