
.msgList{
  width: 100%;
  font-family: "JetBrains Mono Regular", sans-serif;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;


  .conLeft{
    display: flex;
    align-items: center;
    margin: 7px 0;

    .iconLeft{
      margin-right: 6px;
    }

    .descLeft{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      .descTextLeft{
        font-size: 14px;
        color: #A5673F;
      }
    }
  }

  .conRight{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 7px 0;

    .iconRight{
      margin-left: 6px;
    }

    .descRight{
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;

      .descTextRight{
        font-size: 14px;
        color: #228CEE;
      }
    }
  }
}

.descText{
  font-size: 14px;
  color: #2185D0;
}

.descTime{
  font-size: 12px;
  color: #A3A4A3;
}

.msgEnd{

}

