.collection{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--greyLight-1);
  box-shadow: var(--dark-shadow);
  margin:10px 20px 20px 20px;
  border-radius: 20px;
  padding: 10px;

  .header{

  }

  .edit{
    flex: 1;
    margin: 10px 30px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    .btnGroup{
      margin-left: 35px;
      margin-bottom: 12px;

    }
  }
}
