.commStyle{
  height: 82px;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

$normal_color: #56D9FF;
$success_color: #43D163;
$error_color: #FC9168;



.startBtn{
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #777EA8;
  bottom: -40px;
  left: 60%;
  box-shadow:0 0 10px #2D3259;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .normal{
    @extend .commStyle;
    border: 3px solid $normal_color;
    box-shadow: 0 0 3px $normal_color;

    &:hover{
      box-shadow: 0 0 20px $normal_color;
    }

    .text{
      color: $normal_color;
      font-size: 16px;
    }
  }

  .success{
    @extend .commStyle;
    border: 3px solid $success_color;
    box-shadow: 0 0 3px $success_color;

    &:hover{
      box-shadow: 0 0 20px $success_color;
    }

    .text{
      color: #93E692;
      font-size: 16px;
    }
  }

  .error{
    @extend .commStyle;
    border: 3px solid $error_color;
    box-shadow: 0 0 3px $error_color;

    &:hover{
      box-shadow: 0 0 20px $error_color;
    }

    .text{
      color: #FC9168;
      font-size: 16px;
    }
  }
}
