.con{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns:1fr 290px;
  grid-template-rows: 130px 1fr;
  align-items: start;
  overflow: hidden;
  gap: 30px;
  margin-left: 10px;
  padding-bottom: 30px;
  padding-right: 30px;

  .header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 20px;
    overflow: hidden;
  }

  .side{
    grid-column-start: 2 / 3;
    grid-row:  1 / 3;
    position: relative;
    height: 100%;
  }

  .body{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: #E9E5FE;
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 10px;
    border-radius: 20px;
  }
}

::-webkit-scrollbar{
  display: none;
}
