.con{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns:1fr 220px;
  grid-template-rows: 130px 1fr;
  align-items: start;
  overflow: hidden;
  gap: 30px;
  margin-left: 10px;
  padding-bottom: 30px;
  padding-right: 30px;

  .header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }

  .side{
    grid-column-start: 2 / 3;
    grid-row:  1 / 3;
    position: relative;
    height: 100%;
  }

  .body {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: var(--greyLight-1);
    box-shadow: var(--dark-shadow);
    border: 1px white solid;
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 12px;
    z-index: 100;

    .idle {
      margin-top: 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content {
      width: 100%;
      height: 100%;
      //background: rgba(255, 255, 255, 0.6);
      border-radius: 20px;
    }
  }
}

