
.input{
  height: 33px;
  width: 100%;
  border: none;
  margin: 5px;
  border-radius: 3px;
  padding-left: 5px;

  &:focus{
    border: none;
    outline: none;
    background-color: #F3F3F3;
  }


}
