.idea
.fleet
.vscode
node_modules
./release/app/node_modules
#dev production
.dev

#build production
release/build
release/app/dist
electron/dist
preload/dist


#parcel
.cache
.parcel-cache
#electron
asar

#vscode
.DS_Store
.log

