.idea
.fleet
.vscode
node_modules
./release/app/node_modules
#dev production
.dev
dist

#build production
release/build
release/app/dist
packages/electron/dist
packages/preload/dist


#parcel
.cache
.parcel-cache
#electron
asar

#vscode
.DS_Store
.log

