.topForm {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  background: rgba(135,163,196,0.1);
  padding-top: 10px;
  overflow: hidden;
  position: relative;

  .sideSelect {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 9px;

    .sideBtn {
      font-size: 16px;
      color: #65b2de;
      font-weight: 500;
      border-bottom: transparent 2px solid;
      padding-bottom: 10px;
      position: relative;
      cursor: pointer;
    }

    .activeSideBtn {
      color: #66dcff;
    }

    .activeSideBtn.sideBtn::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 3px;
      border-radius: 2px;
      width: 100%;
      background: #66dcff;
    }
  }
  .sideIconCon {
    margin-top: 5px;
    height: 70px;
    width: 70px;
    margin-left: calc((100% - 80px) / 2);
    background: #586aaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .sideIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      color: #dadfe9;
    }
  }

  .connSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 0 10px;

    .typeText {
      font-size: 12px;
      color: white;
      font-weight: 500;
      padding: 2px 10px;
      display: inline-block;
      background: #2cb6ad;
      border-radius: 5px;
    }

    .connType {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #3f477b;
      height: 35px;
      border-radius: 5px;
      padding: 0 5px;

      .typeBtn {
        color: white;
        width: 45%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #668cc1;
        border-radius: 3px;
      }
    }
  }

  .channel {
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    justify-content: space-between;

    .channelNum {
      margin-right: 5px;
      margin-top: 5px;

      .number {
        display: inline-block;
        margin-right: 8px;
        color: #8addff;
      }
    }
  }

  .moreBtn {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
    color: #66dcff;

    &:hover{
      color: #00C5FF;
    }
  }
}

.channelList {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .addChannel {
    background: #2cb6ad;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 12px;

    &:hover {
      background: #414a7f;
    }
  }

  .channelItem {
    width: 200px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: start;

    .channelIndex {
      color: #424b80;
      margin-right: 10px;
    }

    .channelContent {
      outline: none;
      border: none;
      background: #424b80;
      border-radius: 5px;
      color: #7ab9e7;
      height: 25px;
      padding-left: 5px;
      width: 150px;
    }

    .closeBtn {
      height: 25px;
      width: 25px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      .closeIcon{
        display: block;
        text-align: center;
        font-size: 17px;
      }
    }
  }
}

.tranProp {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.slideDown {
  transform: translate3d(0, 250px, 0); //优化
}

.more{
  position: absolute;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  top: -250px;
  z-index: 2000;
  color: black;
  @extend .tranProp;
  display: flex;
  flex-direction: column;
  align-items: start;

  .backBtn{
    margin-top: 10px;
    margin-left: 20px;
    float: right;
    cursor: pointer;
    color: #6CDBD5;

    &:hover{
      color: #62BAE6;
    }
  }

  .configLine{
    padding: 0 15px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .key{
      padding: 3px 10px;
      //background: #586AAA;
      font-weight: 400;
      border-radius: 3px;
      color: #DADFE9;
    }

    .value{
      text-align: center;
      width: 80px;
      height: 25px;
      border: none;
      border-bottom: #00abdf solid 1px;
      outline: none;
      background: transparent;
      color: #66dcff;

      &::placeholder{
        color: #87A2C8;
      }
    }
  }
}
