
.input{
  height: 25px;
  font-size: 13px;
  color: #5A5A5A;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 0 5px 6px;
  min-width: 0;
  width: 100%;
  margin-right: 5px;
  background: transparent;

  &:hover{
    background-color: var(--active-bg);
    color: var(--text-color);
  }
}


.bodyCell{
  display: flex;
  align-items: center;
}

.fileInput{
  width: 100%;

  .fileText{
    border-radius: 3px ;
    background-color: var(--active-bg);
    padding: 3px 10px;
    width: fit-content;
    display: flex;
    align-items: center;

    .delete{
      &:hover{
        cursor: pointer;
      }
    }

    &:hover{
      cursor: pointer;
      background-color: var(--active-bg);
    }
  }

  .file{
    display: none;
  }
}
