
.webSocket{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;

  .left{
    flex: 1;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
    background: linear-gradient(180deg,rgba(135,163,196,0.1),rgba(86,112,165,0.1));
    border-radius: 10px;
  }

  .right{
    width: 250px;
    height: 100%;
    margin-left: 10px;
    background: linear-gradient(180deg,rgba(135,163,196,0.1),rgba(86,112,165,0.1));
    border-radius: 10px;
  }
}
