
.webSocket{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;

  .left{
    flex: 1;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
    background: #2C365E;
    border-radius: 10px;
  }

  .right{
    width: 250px;
    height: 100%;
    margin-left: 10px;
    background: transparent;
  }
}
