
.webSocket{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;


  .chat{
    flex: 1;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
      width: 100%;
      height: 70px;
    }

    .body{
      flex: 1;
      margin-top: 10px;
      width: 100%;
    }
  }

  .side{
    width: 250px;
    height: 100%;
    margin-left: 10px;
  }


}
