
.side{

  .option{
    width: 230px;
    height: 90px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px #D8D9D8;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .choice{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 10px;


      &:hover{
        background-color: #6CDBD5;
      }

      .icon{
        width: 36px;
        height: 36px;
        margin-bottom: -5px;
      }

      .desc{
        font-weight: 500;
      }
    }
  }
}

.activeChoice{
  background-color: #2CB5AD;
  color: #F9FAFB;
}
