.side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .sideType {
    width: 230px;
    height: 220px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid var(--text-color-2);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .iconCon {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 100px;
        height: 100px;
        border: 1px solid var(--text-color-2);
        background:transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #DADFE9;
      }
    }

    .btnGroup {
      width: 180px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;

      .btn {
        width: 80px;
        line-height: 30px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        color: var(--text-color);

        &:hover {
          background-color: #536CA1;
        }
      }
    }
  }

  .infoCon {
    width: 230px;
    flex: 1;
    border-radius: 15px;
    background: transparent;
    border: 1px solid #99A8C3;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "JetBrains Mono Regular",sans-serif;
    font-size: 13px;
    padding: 15px 10px 10px;
    overflow: hidden;

    .waitImg{
      width: 215px;
      height: 215px;
      margin:20px 0 ;
    }

    .waitText{
      margin-top: 8px;
      font-size: 17px;
      font-weight: bolder;
      background-color: #6C63FF;
      padding: 8px 15px;
      border-radius: 6px;
      color: white;
    }

    .infoTitle{
      color: #4EB1F3;
    }

    .infoLine {
      width: 100%;
      line-height: 40px;
      margin-top: 10px;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .infoKey {
        color: #BAC3D6;
      }
      .infoVal {
        color: #C1BDFF;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }
}

.activeBtn {
  background-color: #3F487C;
  color: #f9fafb;
}
