

.con{
  border-radius: 10px;
  border: #E0E1E2 1px solid;
  background: var(--greyLight-1);
  box-shadow: var(--dark-shadow);

  .operate{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F8F9FA;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-left: 16px;
  }

  .editor{
    width: 100%;
    overflow: hidden;
    padding: 5px;
    border-radius: 3px;
  }
}

