.input{
  height: 25px;
  font-size: 13px;
  color: #5A5A5A;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 0 5px 6px;
  min-width: 0;
  width: 100%;
  margin-right: 5px;
  background: transparent;

  &:hover{
    background-color: var(--active-bg);
    color: var(--text-color);
  }
}

.warningCon{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

