
.body{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .msgWin{
    flex: 1;
    width: 100%;
    margin-bottom:10px;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: 1px solid #99A8C3;

    .titleCon{
      height: 45px;
      width: 100%;
      border-bottom: #99A8C3 1px solid;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .options{
        width: 170px;
        //background-color: #F7F7F7;
        height: 36px;
        padding:0 4px 0 10px;
        border-radius: 6px;
        display: flex;
        align-items: center;
      }

      .statusCon{
        width: 120px;
        line-height: 32px;
        text-align: center;
        margin-right: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: "JetBrains Mono Regular", sans-serif;
        color: #2CB300;
      }
    }

    .chatWin{
      flex: 1;
      width: 100%;
      border-radius: 10px;
      margin-top: 10px;
      text-align: center;
      padding: 10px;
    }
  }

  .inputCon{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #99A8C3;

    .textArea{
      flex: 1;
      line-height: 50px;
      border-radius: 10px;
      margin-left: 5px;
      margin-right: 15px;

      .input{
        width: 100%;
        border-radius: 5px;
        height: 45px;
        margin: 0 10px 0 0;
        position: relative;
        letter-spacing: 0.5px;
        padding-left: 10px;
        color: var(--text-color);
        border: transparent 1px solid;
        background-color: transparent;
        outline: none;

        &::placeholder{
          color: var(--text-color);
        }
      }
    }

    .ops{
      width: 80px;
    }
  }
}

.activeBtn{
  background-color: #2C2E3A;
  color: white;
  box-shadow: 1px 1px 3px #D3D1C5;
}

.blankBg{
  background: url("../../../assets/icon/blank.svg") no-repeat 50% 50%;
  background-size: 390px 300px;
}

.opBtn{
  background: transparent!important;
  color: var(--text-color)!important;

  &:hover{
    background: var(--active-bg)!important;
  }
}
