
.btn{
  border: #000 1px solid;
}


.label{
  position: absolute;
  left: -20px;
}

.preview{
  &:hover{
    cursor: pointer;
  }
}

.title{
  margin-right: 15px;
  color: #CEC4D8;
  margin-top: 16px;
}
