.con{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #AAABAA;
  margin-bottom: 20px;


  .address{
    flex: 1;
    letter-spacing: 1px;
    background-color: #F3F4FE;
    line-height: 40px;
    padding-left: 20px;
    margin-right:20px;
    border-radius: 5px;

    &:hover{
      cursor: auto;
    }
  }
}
