.apiList{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  user-select: none;
  border: 1px solid #FCC7AA;

  &:hover {
    cursor: pointer;
    background-color: #D9D2FF;
    border-color: transparent;
  }

  .url {
    margin-left: 10px;
    flex: 1;
    color: #6C63FF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .urlInfo{
      line-height: 40px;
      font-size: 20px;

      .label{
        display: inline-block;
        text-align: center;
        width: 50px;
        color: #6C63FF;
        line-height: 30px;
        font-size: 20px;
        margin-right: 10px;
        user-select: none;
      }

      .path{
        display: inline-block;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 4px;
        width: 50px;
        color: #3C30FF;
        line-height: 30px;
        font-size: 16px;
      }
    }
  }
}
