.form {
  width: 100%;
  height: 100%;

  .fullUrl {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;

    .urlText {
      display: block;
      flex: 1;
      border: #FA86A3 1px solid;
      border-radius: 3px;
      outline: none;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: 400;
      color: #3F3D56;
      letter-spacing: 1px;
      font-size: 16px;
    }
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
