.inputCon {
  position: relative;
  .input {
    color: var(--light-text1);
    height: 40px;
    width: 100%;
    border: 1px solid var(--dark-color1);
    border-radius: 7px;
    background: transparent;
    padding-left: 10px;
    padding-right: 30px;

    &:focus {
      outline: none;
      border-color: var(--light-color1);
    }

    &::placeholder {
      color: var(--dark-color2);
    }
  }
  .clearIcon {
    position: absolute;
    right: 8px;
    top: 8px;
    transform: scale(1.2);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--dark-color1);
    }
  }
}
