
.apiTable{
  flex: 1;
  display: flex;
  border: 1px solid #EDEFF4;
  min-height: 140px;
  border-radius: 10px 10px 0 0;
  flex-direction: column;

  .header{
    height: 50px;
    background-color: #F1FAFC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #737994;
    border-bottom: 1px solid #EDEFF4;
    display: grid;
    grid-template-columns:100px repeat(5,1fr);
    align-content: center;
    padding-right: 6px;

    .headerItem{
      border-right: 1px solid #EDEFF4;
      height: 50px;
      font-weight: bolder;
      text-transform: uppercase;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: start;
      padding-left: 12px;

      &:first-of-type{
        padding-left: 0;
        justify-content: center;
      }

      &:last-of-type{
        border-right: none;
        justify-content: center;
      }

      &:nth-child(4){
        padding-left: 0;
        justify-content: center;
      }
    }
  }
  .tableBody{
    height: 90px;
    overflow: hidden auto;
  }
}

::-webkit-scrollbar {
  width: 6px;   /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
  background: #FFF;
}
/*定义滚动条轨道（凹槽）样式*/
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    /* 较少使用 */
  border-radius: 3px;
}
/*定义滑块 样式*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  height: 50px;    /* 滚动条滑块长度 */
  background-color: #ccc;
}
