body, html {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}


#jsonEdit-warning-box svg {
  height: 20px;
  width: 20px;
  transform: translateY(5px);
}

:root {
  --card-bg--: linear-gradient(200deg, rgba(232, 227, 255, 0.5), rgba(226, 228, 255, 0.6));
  --light-bg1--: rgba(255, 255, 255, 0.6);
  --light-bg2--: rgba(255, 255, 255, 0.7);
  --light-bg3--: rgba(255, 255, 255, 0.8);
  --light-bg4--: linear-gradient(135deg, #EAE6FE, #E2DCFF);
  --light-shadow:0px 20px 30px rgba(100, 131, 177, 0.3);
  --dark-shadow:1px 1px 5px #D8D9D8;

  --primary-light: #39ddfa;
  --primary: #00abdf;
  --primary-dark: #008ada;
  --white: #FFFFFF;
  --greyLight-1: #FFFFFF;
  --sideBar-bg1:#000;
  --greyLight-2: #FBFCFF;
  --greyLight-3: #c1d9f0;
  --greyDark: #646b8c;
}

.filepond--label-action{
  color: #2CB5AD;
}

.custom-context-menu {
  position: fixed;
  border: 1px solid #ccc;
  list-style: none;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px #ddd;
  background-color: white;
  min-width: 90px;
}
.custom-context-menu.hidden {
  display: none;
}
.custom-context-menu li {
  padding: 8px 12px;
  border-bottom: 1px solid #f0f2f5;
  user-select: none;
  transition: all 0.1s;
  text-align: center;
  border-radius: 3px;
}
.custom-context-menu li:last-child {
  border-bottom: none;
}
.custom-context-menu li:hover {
  cursor: pointer;
  background-color: #3F3D56;
  color: #fff;
}
.custom-context-menu li:active {
  background-color: #f0f2f7;
}
