@font-face {
  font-family: 'JetBrains Mono NL Light';
  src: url('./assets/font/JetBrainsMonoNL-Light.ttf');
}

@font-face {
  font-family: 'JetBrains Mono NL Bold';
  src: url('./assets/font/JetBrainsMonoNL-Bold.ttf');
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('./assets/font/JetBrainsMono-Regular.ttf');
}

body, html {
  background-color: transparent!important;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button,input {
  -webkit-app-region: no-drag;
}

div {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
  /*background-color: transparent!important;*/
}
*::-webkit-scrollbar { width: 0 !important }

input{
  font-family: 'JetBrains Mono Regular', sans-serif !important;
}


#jsonEdit-warning-box svg {
  height: 20px;
  width: 20px;
  transform: translateY(5px);
}

:root {
  --card-bg--: linear-gradient(200deg, rgba(232, 227, 255, 0.5), rgba(226, 228, 255, 0.6));
  --light-bg1--: rgba(255, 255, 255, 0.6);
  --light-bg2--: rgba(255, 255, 255, 0.7);
  --light-bg3--: rgba(255, 255, 255, 0.8);
  --light-bg4--: linear-gradient(135deg, #EAE6FE, #E2DCFF);
  --light-shadow:0px 20px 30px rgba(100, 131, 177, 0.3);
  --dark-shadow:1px 1px 5px #D8D9D8;

  --primary-light: #39ddfa;
  --primary: #00abdf;
  --primary-dark: #008ada;
  --white: #FFFFFF;
  --greyLight-1: #FFFFFF;
  --sideBar-bg1:#000;
  --greyLight-2: #FBFCFF;
  --greyLight-3: #c1d9f0;
  --greyDark: #646b8c;
  --text-color: #8ADDFF;
  --white-main-bg:#F9F9FB;
  --white-side-bg:#FFFFFF;
  --blue-main-bg:linear-gradient(180deg,#678FC4,#5670A5,#3C4277);
  --blue-side-bg:linear-gradient(180deg,#7599CD 30%,#657FB2 60%,#525A8E 100%);
  --main-bg:var(--blue-main-bg);
  --sideBar-bg:var(--blue-side-bg);
  --text-color-2: #C0C0C0;
  --active-bg: #466085;
}
