.rootCon{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:linear-gradient(135deg,#BCCAFE,#D3D0FF,#F5DBFF);
  display: grid;
  grid-template-columns: 236px 1fr;
  grid-template-rows:90px 1fr;
}

.header{
  grid-column: 1 / 5;
  height: 90px;
  grid-row: 1 / 2;
  background-color: transparent;
}

.sideBar{
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  border-radius: 20px;
  position: relative;
  background: var(--light-bg2--);
  margin-left: 10px;
  margin-bottom: 10px;
}

.body{
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  background-color: transparent;
  position: relative;
}
