.rootCon{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FDFDFD;
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows:70px 1fr;
}

.header{
  grid-column: 1 / 5;
  height: 70px;
  grid-row: 1 / 2;
  background-color: #9294F5;
}

.sideBar{
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  border-radius: 8px;
  position: relative;
}

.body{
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  background-color: #FFF;
  box-shadow: 0 0 15px #A1CAFB;
  border-radius: 8px;
  position: relative;
}
