.rootCon{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--greyLight-2);
  display: flex;
  flex-direction: column;

  .header{
    height: 90px;
    background-color: transparent;
  }

  .con{
    flex: 1;
    display: flex;
    position: static;

    .sideBar{
      border-radius: 15px;
      position: relative;
      background: var(--sideBar-bg1);
      box-shadow: var(--light-shadow);
      border: 1px white solid;
      transition: all 0.3s ease-out;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .body{
      flex: 1;

      background-color: transparent;
      position: relative;
    }
  }
}




