.tabCon{
  border-bottom: #2C3550 1px solid;
  display: flex;
  justify-content: start;
  align-items: end;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;

  .tab{
    z-index: 100;
    margin-bottom: -1px;
    padding: 6px 12px;
    border: transparent 1px solid;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 1px;

    &:hover{
      cursor: pointer;
      border-color: #B7B7B7;
    }
  }
  .activeTab{
    border-color: #2C3550;
    border-bottom: none;
    background-color: #FFF;
    z-index: 100;
  }
}
