.con {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  margin-top: -5px;

  .editorCon {
    flex: 1;
    width: 100%;
    border: #e0e1e2 1px solid;
    background-color: transparent;
    border-radius: 8px;
  }
}
.operationCon {
  box-shadow: var(--dark-shadow);
  border-radius: 10px;
}

.actionsCon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  position: relative;

  .statusCard {
    position: absolute;
    right: 20px;
    top: 11px;
    height: 36px;
    width: fit-content;
    background-color: #e0e1e2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13px;
    color: #5A5A5A;

    .statusCode:hover,
    .statusDesc:hover,
    .statusTiming:hover {
      cursor: pointer;
    }

    .statusDesc {
      margin: 0 12px 0 12px;
      max-width: 130px;
      overflow: auto;
      word-wrap: break-word;
      word-spacing: 5px;
      white-space: nowrap;
      -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
      -webkit-box-orient: horizontal; /* 垂直排列 */
      word-break: break-all; /* 内容自动换行 */
    }
  }
}
.active {
  background-color: #2185d0 !important;
  color: white !important;
}

.ops {
  margin-left: 15px;
  margin-right: 10px;
  width: 200px;
  background: var(--greyLight-1);
  border-radius: 10px;
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-items: center;
  padding: 15px 0;

  .btns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
  }
}
