.side{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;

  .list{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 10px;
    //box-shadow: 0 2px 5px #BEC0BE;
    overflow: hidden auto;
    padding-bottom: 10px;

    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px -10px;
      padding: 0 20px;
    }

    .recordList{
      padding: 10px 20px;
      overflow: hidden auto;
      border-radius: 10px;
    }
  }
}

.ops {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  //box-shadow: 0 2px 5px #BEC0BE;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  padding: 10px 0;
}
