.side{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;

  .list{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 10px;
    overflow: hidden auto;
    padding-bottom: 10px;

    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px -10px;
      padding: 0 20px;
    }

    .recordList{
      padding: 10px 0;
      overflow: hidden auto;
      border-radius: 10px;
    }
  }
}

.ops {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  padding: 10px 2px;

  .btn{
    background: transparent!important;
    color: var(--text-color)!important;

    &:hover{
      background-color: #1181C8!important;
    }

    .icon{
      color: #CEC4D8!important;
    }
  }
}
