
.activeStyle{
  color: #FFF;
  background-color: #000;
}


.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 1;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #666666;
  font-size: 14px;
  transition: all 0.3s ease-out;
  margin-top: 15px;

  &:hover{
    color: #B1B1B1;
    background-color: #4D4D4D;
  }

  .tabIcon{
    transition: all 0.3s ease-out;
  }

  .text{
    text-wrap: none;
    margin-left: 10px;
  }

}

.show{
  transition: all 0.3s ease-out;
  animation: left1 0.29s ease-out;
}

@keyframes left1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-35px);
  }
}

.hidden{
  transition: all 0.3s ease-out;
  animation: left 0.3s ease-out;
}

.tab.active{
  @extend .activeStyle;

  &:hover{
    color: #FFF;
    background-color: #4D4D4D;
  }
}
