.tranProp {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.btn {
  height: 30px;
  width: 60px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.progressBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .tranProp;

  .cardNumber {
    position: absolute;
    font-size: 2rem;
    font-family: 'JetBrains Mono Regular', sans-serif;
    text-align: center;
    font-weight: 500;

    .GPAText {
      font-size: 1.3rem;
      color: #2e2e2e;
      margin-bottom: 6px;
    }

    .pointsText {
      font-size: 1.25rem;
      font-weight: 600;
      color: #ecbd57;
    }
  }
}

.progress {
  position: relative;
  width: 10rem;
  height: 10rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

.progress .svgCircle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 301; // 2 * PI * radius
  transition: all 1s ease;
  stroke-width: 0.85rem;
}

.circle {
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: 6px 6px 8px #1a2354;
  background: #fff;
}

.circleMedium {
  width: 8rem;
  height: 8rem;
  box-shadow: inset 8px 8px 10px #d6dfee, inset -4px -4px 8px #fff;
}

.circleSmall {
  width: 6rem;
  height: 6rem;
  background: #fff;
  box-shadow: 6px 6px 8px #d6dfee, -3px -3px 4px #fff;
}

.slideUp {
  animation: slideUp 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  transition: all 0.3s ease-in-out;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }

  .con {
    width: 300px;
    border-radius: 8px;
    min-height: 250px;
    overflow: hidden;
    background: #37496a;
    box-shadow: 0 2px 10px #37496a;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .header {
      height: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 13px;

      .title {
        flex: 1;
      }

      .close {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        background: #8adcfe;
        justify-content: center;
        border-radius: 3px;
        margin-top: 29px;
        cursor: pointer;
      }
    }

    .body {
      padding: 15px;
      flex: 1;

      .desc {
        color: #8adcfe;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: 'JetBrains Mono Regular', sans-serif;
      }
    }

    .footer {
      text-align: center;
      height: 50px;
      color: #8adcfe;
      font-size: 15px;
      font-weight: 500;
      font-family: 'JetBrains Mono Regular', sans-serif;
    }

    .btns {
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancel {
        background: #fa6058;
        margin-right: 30px;
        color: white;
        @extend .btn;

        &:hover {
          background: #f83127;
        }
      }

      .confirm {
        background: #8adcfe;
        @extend .btn;

        &:hover {
          background: #7ab9e7;
        }
      }
    }
  }
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
