
.dropDown{
  &:hover{
    background-color: var(--active-bg)!important;
    border-radius: 6px;
  }

  .btn{
    background-color: transparent!important;
    color: var(--text-color)!important;
    width: fit-content!important;
    letter-spacing: 1px!important;
  }

  .select{
    background-color: transparent!important;
    color: var(--text-color)!important;
  }
}

.IconBtn{
  background: transparent!important;
  color: var(--text-color)!important;
  .icon{
    color: var(--text-color)!important;
  }
  &:hover{
    background-color: var(--active-bg)!important;
  }
}
