

.con{
  border-radius: 10px;
  background: transparent;

  .operate{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-left: 16px;
  }

  .editor{
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
  }
}

.shadow{
  box-shadow: 0 2px 5px #BEC0BE;
}
