.header{
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;

  .left{
    width: 80px;
  }

  .terminalCon{
    padding: 10px;
    overflow: hidden;
    position: absolute;
    width: 500px;
    height: 345px;
    border-radius: 15px;
    //background: #34598D;
    background: linear-gradient(135deg, #E8F1F9 0%, #EDF5FC 100%);
    right: 20px;
    top: 45px;
    z-index: 1000;
  }

  .md{
    margin-left: 30px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .right{
    padding: 0 5px;
    margin: 8px 15px;
    width: 100px;
    height: 30px;
    background: var(--light-bg);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .terminalIcon{
      height: 20px;
      cursor: pointer;

      &:hover{
        opacity: 0.8;
      }
    }
  }

  .logoCon{
    width: 130px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 0;
    transition: all 0.3s ease-out;

    .logo{
      width: 70px;
      height: 70px;
    }
  }

  .title{
    width: 220px;
    line-height: 90px;
    color: #2C3550;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
  }
}

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}


.scaleUpTr {
  -webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
