
.cardStyle{
  background: var(--greyLight-1);
  box-shadow: var(--dark-shadow);
  border-radius: 10px;
}

.collection{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns:1fr 300px ;
  grid-template-rows:270px 1fr;
  gap: 20px;

  margin:0 0 10px 10px;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;

  .header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: start;

    .url{
      @extend .cardStyle;
      height: 70px;
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: start;

      .select{
        width: 100px;
      }

    }

  }

  .body{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-radius: 10px;
    position: relative;

    .editor{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .side{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
  }
}



