
.input{
  height: 25px;
  font-size: 13px;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 3px 0 5px 6px;
  min-width: 0;
  width: 100%;
  margin-right: 5px;
  background-color: transparent;
  color: #CEC3D9;

  &:hover{
    background-color: var(--active-bg);
  }
}
.bodyCell{
  display: flex;
  align-items: center;
}

.btn{
  &:hover{
    background-color: var(--active-bg)!important;
  }
}

