@font-face {
  font-family: 'JetBrains Mono NL Light';
  src: url('../assets/font/JetBrainsMonoNL-Light.ttf');
}

@font-face {
  font-family: 'JetBrains Mono NL Bold';
  src: url('../assets/font/JetBrainsMonoNL-Bold.ttf');
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('../assets/font/JetBrainsMono-Regular.ttf');
}

html{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

button,
input {
  -webkit-app-region: no-drag;
}

div,
p {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;

}

* {
  user-select: none;
  font-family: 'JetBrains Mono Regular', sans-serif;
  box-sizing: inherit;
}

:root {
  /*bg*/
  --dark-bg1: #202948;
  --dark-bg2: #2d3861;
  --light-bg1: #3d4d84;
  --light-bg2: #4d61a7;

  /*text*/
  --light-text1: #57cfff;
  --light-text2: #5a6591;
  --dark-text1: var(--dark-bg1);
  --dark-text2: #5368AF;

  /*other*/
  --dark-color1: #42538e;
  --dark-color2: #475998;
  --light-color1:#6578B8;

  --error-color: #EB5298;
  --warning-color: #FA6C37;
  --success-color: #3DDF6E;
  --normal-color: var(--dark-color1);

  --card-space: 18px;
}
