.con {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;


  .load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 60px;
    height: 60px;

    hr {
      border: 0;
      margin: 0;
      width: 40%;
      height: 40%;
      position: absolute;
      border-radius: 50%;
      animation: spin 2s ease infinite;

      &:first-child {
        //background: #EEFFEB;
        background: #00A8EB;
        animation-delay: -1.5s;
      }
      &:nth-child(2) {
        //background: #f63d3a;
        background: #00A8EB;
        animation-delay: -1s;
      }
      &:nth-child(3) {
        //background: #fda543;
        background: #00A8EB;
        animation-delay: -0.5s;
      }
      &:last-child {
        //background: #2CB6AD;
        background: #00A8EB;
      }
    }


  }

}


@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
