
.con{
  width: 100%;

  .progress{
    margin-top: 20px;
  }

  .statistic {
    margin-top: 35px;
    width: 100%;
    padding: 0 8px;

    .line {
      font-family: 'JetBrains Mono Regular', sans-serif;
      background: #2A345A;
      display: flex;
      padding: 15px 10px;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 10px;
    }

    .startBtn {
      margin-top: 20px;
      background: #3d4d84;
      width: 200px;
      line-height: 50px;
      border-radius: 10px;
      color: var(--active-text);
      text-align: center;
      font-size: 18px;
      box-shadow: 2px 2px 5px var(--globalBg-blue);
      cursor: pointer;
    }
  }
}


.download{
  color: var(--active-text);
}

.upload{
  color: #A2F197;
}

.defer{
  color: #F9A8A8;
}
