

.con{
  border-radius: 8px;
  padding:8px 10px 10px 0;

  .editor{
    background: var(--globalBg-blue);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
}

.shadow{
  box-shadow: 0 2px 5px #BEC0BE;
}
