.table{
  width: 100%;
  border: 1px solid var(--dart-color1);
  border-radius: 5px;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;

  .tableCol{
    text-align: left;
    color: var(--light-text1);
    font-size: 13px;
    line-height: 40px;
    padding-left: 15px;
  }

  .tableHeader{
    border-bottom: 1px solid var(--dart-color1);

    .tableCol{
      border-right: 1px solid var(--dart-color1);

      &:last-child{
        border-right: none;
        text-align: center;
      }
    }
  }

  .tableBody{

    .tableRow{
      border-bottom: 1px solid var(--dart-color1);

      .tableCol{
        border-right: 1px solid var(--dart-color1);
        padding-left: 11px;

        &:last-child{
          border-right: none;
          text-align: center;
        }
      }

      &:last-of-type{
        border-bottom:none;
      }
    }
  }

  .tableRow{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

}

.opt {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cellInput {
  height: 30px;
  width: 90%;
  padding-left: 5px;
  border: none;
  background: transparent;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 1px;
  color: var(--light-text1);

  &:focus {
    outline: none;
  }

  &:hover {
    background: var(--dark-bg1);
  }
}
