.con {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  height: 40px;
  border: #FA86A3 1px solid;
  border-radius: 3px;

  .label {
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
    background: #FDF0F8;
    color: black;
    border-right: #FA86A3 1px solid;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
  }

  .input {
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    border-radius: 0 3px 3px 0;
    background: transparent;
    width: 100%;
    color: #F86087;
  }
}

.select {
  display: block;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #F86087;
  border: none;
  width: 100%;
}
