
.loading{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  //background:linear-gradient(to bottom,#7F7FDA, #8787D2,#7E83CB,#A1A1EB);
  background-color: #8787D2;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
