.tranProp {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.progressBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .tranProp;

  .cardNumber {
    position: absolute;
    font-size: 2rem;
    font-family: 'JetBrains Mono Regular', sans-serif;
    text-align: center;
    font-weight: 500;

    .speedText {
      font-size: 1.3rem;
      color: var(--grey-text);
      margin-bottom: 6px;

      .dowmImg{
        width: 16px;
        margin-left: 3px;
      }
    }

    .pointsText {
      font-size: 1.15rem;
      font-weight: 600;
      color: var(--active-text);
    }
  }
}

.progress {
  position: relative;
  width: 10rem;
  height: 10rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

.progress .svgCircle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 301; // 2 * PI * radius
  transition: all 1s ease;
  stroke-width: 0.85rem;
}

.circle {
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: #2D3861;
}

.circleMedium {
  width: 8rem;
  height: 8rem;
  background: #3D4D84;
  //box-shadow: inset 8px 8px 10px #d6dfee, inset -4px -4px 8px #fff;
}

.circleSmall {
  width: 6rem;
  height: 6rem;
  background: #2D3861;
  //box-shadow: 6px 6px 8px #d6dfee, -3px -3px 4px #fff;
}

.slideUp {
  animation: slideUp 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
