
.routerList{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  .underLineRoute{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    cursor: pointer;
    margin-right: 20px;

    &:hover{
      opacity: 0.8;
    }

    .title{
      display: flex;
      align-items: center;

      .icon{
        margin: 0!important;
        padding: 0!important;
        color: var(--dart-text);
        font-size: 15px;
      }

      .text{
        margin-left: 5px;
        color: var(--dart-text);
      }

    }

    .underline{
      margin-top: 8px;
      height: 2px;
      border-radius: 1px;
      width: 100%;
      background: transparent;
    }

    .showUnderline{
      background: var(--light-text);
    }
  }

  .underLineRoute.active{

    .title{

      .icon{
        color: var(--light-text);
      }

      .text{
        margin-left: 5px;
        color: var(--light-text);
      }

    }
  }
}

