.apiList{
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: var(--globalBg-blue);
  }

  .url {
    margin-left:-8px;
    flex: 1;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
