.apiList{
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 15px;
  margin-left: 20px;
  user-select: none;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    background-color: var(--active-bg);
    border-color: transparent;
    color: #FFF;
  }

  .url {
    margin-left:-8px;
    flex: 1;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.apiList:hover .url{
  color: #FFF;
}
