
.apiCard{
  flex: none;
  flex-shrink: 0;
  width: 200px;
  margin: 5px 10px;
  height: 60px;
  background: var(--greyLight-1);
  border: 1px white solid;
  border-radius: 10px;
  box-shadow: var(--dark-shadow);
  -webkit-overflow-scrolling: touch;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  &:hover {
    cursor: pointer;
  }
}
