.badge{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 6px;

  .inner{
    width: 100%;
    line-height: 28px;
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
  }
}

.get{
  background-color:#B2D4FE;

  .getInner{
    background-color:#1F9CF0;
    color: #FFF;
  }
}

.post{
  background-color:#F6C4E0;

  .postInner{
    background-color:#FA86A3;
    color: #FFF;
  }
}
