.header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 30px;

  .status {
    cursor: pointer;
    background: #586AAA;
    line-height: 32px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 110px;
    color: #66dcff;
    border-radius: 5px;

    .statusTitle {
      color: #66D7FB;
      margin-right: 8px;
    }
  }

  .input {
    flex: 1;
    height: 38px;
    border: none;
    border-bottom: transparent solid 1px;
    outline: none;
    background: transparent;
    color: #66dcff;

    &:hover {
      border-color: #00abdf;
    }

    &::placeholder {
      color: #66dcff;
    }
  }
}
