.rootCon{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--main-bg);
  display: flex;
  flex-direction: column;
  //margin-left: 41px;
  border-radius: 15px;
  //border-bottom-left-radius: 15px;

  .header{
    height: 50px;
    background: transparent;
    //box-shadow: 0 2px 10px #D8D9D8;
  }

  .con{
    flex: 1;
    display: flex;
    position: static;
    background: transparent;

    .sideBar{
      border-radius: 15px;
      position: relative;
      background: var(--sideBar-bg);
      transition: all 0.3s ease-out;
      //margin-left: -40px;
      margin-bottom: 25px;
      width: 220px;
    }

    .body{
      flex: 1;
      background-color: transparent;
      position: relative;
      margin-top: -10px;
    }
  }
}




