.rootCon{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--greyLight-2);
  display: flex;
  flex-direction: column;

  .header{
    height: 90px;
    background-color: transparent;
  }

  .con{
    flex: 1;
    display: flex;
    position: static;

    .sideBar{
      border-radius: 15px;
      position: relative;
      background: #FFFFFF;
      box-shadow: 0 2px 10px #D8D9D8;
      transition: all 0.3s ease-out;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .body{
      flex: 1;
      background-color: transparent;
      position: relative;
      margin-top: -20px;
    }
  }
}




