
.leftWin{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .header{
    height: 50px;
    margin-top: 10px;
  }

  .body{
    flex: 1;
    padding: 10px;
  }

  .footer{
    height: 60px;
  }
}
