body,html{
  background-color:transparent;
  overflow: hidden;
}

div{
  margin: 0;
  padding: 0;
}

#jsonEdit-warning-box svg{
  height: 20px;
  width: 20px;
  transform: translateY(5px);
}

:root{
  --card-bg--:linear-gradient(200deg,rgba(232,227,255,0.5),rgba(226,228,255,0.6));
}
