body, html {
  background-color: transparent;
  overflow: hidden;
}

div {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}

#jsonEdit-warning-box svg {
  height: 20px;
  width: 20px;
  transform: translateY(5px);
}

:root {
  --card-bg--: linear-gradient(200deg, rgba(232, 227, 255, 0.5), rgba(226, 228, 255, 0.6));
  --light-bg1--: rgba(255, 255, 255, 0.6);
  --light-bg2--: rgba(255, 255, 255, 0.7);
  --light-bg3--: rgba(255, 255, 255, 0.8);
  --light-bg4--: linear-gradient(135deg, #EAE6FE, #E2DCFF);
}
