
.tableRow{
  display: grid;
  grid-template-columns:100px repeat(5,1fr);
  align-items: center;
  align-content: center;
  margin-bottom: -5px;
  height: 45px;
  border-bottom: 1px solid #EDEFF4;
  padding-top: 3px;

  .tableItem{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 350;
    font-size: 15px;
    border-right: 1px solid #EDEFF4;
    height: 45px;
    padding-left: 5px;

    &:last-of-type{
      border-right: none;
      justify-content: center;
    }

    &:first-of-type{
      justify-content: center;
    }

    &:nth-child(4){
      padding-left: 0;
      justify-content: center;
    }
  }
}
