
.tableRow{
  display: grid;
  grid-template-columns:100px repeat(5, 1fr);
  align-items: center;
  align-content: center;
  margin-bottom: -5px;
  height: 45px;
  border-bottom: 1px solid #EDEFF4;
  padding-top: 3px;

  .tableItem{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 350;
    font-size: 15px;
    border-right: 1px solid #EDEFF4;
    height: 45px;
    padding-left: 5px;

    &:last-of-type{
      border-right: none;
      justify-content: center;
    }

    &:first-of-type{
      justify-content: center;
    }

    &:nth-child(4){
      padding-left: 0;
      justify-content: center;
    }
  }
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  color: #000;
  background-color: #FFF;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 150px;
  height: 35px;
  padding-left: 10px;
  border-radius: .25em;
  overflow: hidden;
  border: 1px solid #EDEFF4;
  border-right: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  padding: 10px 12px;
  transition: .25s all ease;
  pointer-events: none;
  border: 1px solid #EDEFF4;
  background-color: #FFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Transition */
.select:hover::after {
  color:#1E9CFC;
  background-color: #F3F3F3;
}
