.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-top: 20px;

  &:hover{
    background-color: var(--light-bg);

    .icon{
      color: #000!important;
    }
  }

  .icon{
    margin: 0!important;
    padding: 0!important;
    font-size: 16px;
    color: var(--secondDart-text)!important;
  }
}

.tab.active{
  background: var(--globalBg-blue);


  .icon{
    color: var(--active-text)!important;
  }
}
