
.activeStyle{
  color: #FFF;
  background-color: #5B729B;
}


.tab{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 1;
  height: 35px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #FFF;
  font-size: 14px;
  transition: all 0.3s ease-out;
  margin-bottom: 10px;
  padding-left: 10px;

  &:hover{
    color: #000;
    background-color: rgba(115,104,159,0.6);
  }

  .tabIcon{
    transition: all 0.3s ease-out;

    .icon{
      color: #FFF!important;
    }
  }

  .text{
    text-wrap: none;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
  }

}

.show{
  transition: all 0.3s ease-out;
  animation: left1 0.29s ease-out;
}

@keyframes left1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-35px);
  }
}

.hidden{
  transition: all 0.3s ease-out;
  animation: left 0.3s ease-out;
}

.tab.active{
  @extend .activeStyle;

  &:hover{
    @extend .activeStyle;
  }
}
