.configParamsCon {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 18px;
  margin-top: 5px;
  margin-bottom: 6px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    height: 30px;
    width: fit-content;
    display: block;
    border-radius: 7px;
    color: var(--light-text1);
    font-size: 14px;
    padding-left: 5px;
  }

  .tableCon {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 10px;
    overflow: auto;
    position: relative;
  }
}

.auth{
  display: flex;
  border: var(--dark-color1) 1px solid;
  border-radius: 8px;
  margin: 5px 20px 15px 0;
  overflow: hidden;

  .type{
    padding-top: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: var(--dark-color1) 1px solid;
    overflow: auto;

    .selection{
      width: 100%;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .typeText{
        color: var(--light-text1);
        font-size: 14px;
      }
    }

    .desc{
      padding: 0 5px;
      width: 180px;
      color: #5368AF;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 14px;
    }


  }
  .form{

  }
}
