.cardStyle{
  background: var(--greyLight-1);
  box-shadow: var(--dark-shadow);
  border-radius: 10px;
}

.url {
  @extend .cardStyle;
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
  padding-right: 15px;

  .input{
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    color: #F6C4E0;
  }
}

.config{
  overflow: hidden;
  flex: 1;
  display: flex;
  padding: 0 8px 5px 15px;
  width: 100%;
  flex-direction: column;
  @extend .cardStyle;
  margin-top: 12px;

  .option{
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .table{
    flex: 1;
    overflow: auto;
  }
}
