.cardStyle{
  background: transparent;
  //border-radius: 10px;
}

.url {
  @extend .cardStyle;
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  //padding-left: 15px;
  //padding-right: 15px;

  .input{
    flex: 1;
    border-radius: 5px;
    height: 45px;
    margin: 0 15px;
    position: relative;
    letter-spacing: 0.5px;
    padding-left: 10px;
    color: var(--text-color);
    font-family: "JetBrains Mono NL", serif;
    border: transparent 1px solid;
    background-color: transparent;

    &:hover{
      border: #41447C 1px solid;
    }

    &::placeholder{
      color: var(--text-color);
    }

    &:focus{
      outline: none;
    }
  }
}

.config{
  overflow: hidden;
  flex: 1;
  display: flex;
  //padding: 0 8px 5px 15px;
  padding-bottom: 5px;
  width: 100%;
  flex-direction: column;
  @extend .cardStyle;
  margin-top: 12px;

  .option{
    height: 42px;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .table{
    flex: 1;
    overflow: auto;
  }
}

.sendBtn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 17px;
  border-radius: 5px;
  color: var(--text-color);
  font-weight: bolder;
  font-size: 15px;

  &:hover{
    background-color: var(--active-bg);
  }
}

.reqOption{
  color: var(--text-color);
  cursor: pointer;
}

.leftSelect{

  &:hover{
    background-color: var(--active-bg)!important;
    border-radius: 6px;
  }

  .selectBtn{
    background-color: transparent!important;
    color: var(--text-color)!important;
    width: fit-content!important;
    letter-spacing: 1px!important;
  }

  .selectDropdown{
    background-color: transparent!important;
    color: var(--text-color)!important;
  }
}



