
.reqError{
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .msg{
    max-width: 500px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FCC2B7;
    color: black;
    font-family: "JetBrains Mono Regular", sans-serif;
  }
}
